<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <h1>NOT ANOTHER SHITTY MAGIC APP</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <ul>
        {% for card in cards%}
        <li>
            {{ card.name }}
        </li>
        <li>{{ card.type }}</li>
        <li>{{ card.colors }}</li>
        <li>{{ card.text }}</li>

        {% endfor %}
    </ul>

    <button>
        <a href="/cards/addDeck">Add a Deck</a>
    </button>
</body>

</html>